.*
*.in
*.la
*.a
*.lo
*.o
*.obj
*.lib
*.dll
*.ilk
*.pdb
*.ex?
*-stamp
Makefile
aclocal.m4
ar-lib
autom4te.cache
build/
compile
config.guess
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
config.guess~
config.sub~
configure~
install-sh~

depcomp
install-sh
m4/
missing
stamp-h1
libsmb2.pc
libtool
ltmain.sh
lib/ps2/imports.c
*.bak
